#include <winuser.h>
1 RT_MANIFEST "app.manifest"

#define IDD_ROTATE_ANGLE 201
#define IDC_ROTATE_ANGLE 202

IDD_ROTATE_ANGLE DIALOGEX 0, 0, 184, 62
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rotate Arbitrary"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Angle in degrees (-360 to 360):", -1, 7, 8, 170, 10
    EDITTEXT IDC_ROTATE_ANGLE, 7, 22, 92, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 105, 22, 32, 14
    PUSHBUTTON "Cancel", IDCANCEL, 142, 22, 36, 14
END
